html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bd-footer {
  font-size: .875rem;
  background-color: #f7f7f7;
}

.bd-footer a {
  font-weight: 600;
  color: #495057;
  text-decoration: none;
  background-color: transparent;
}
